.hidden {
  visibility: hidden;
}

.m-r-auto {
  margin-right: auto;
}

.m-l-auto {
  margin-left: auto;
}

.p-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-y-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.p-x-100 {
  padding-left: 100px;
  padding-right: 100px;
}