.minimal {
  background: none;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

.scroll-y {
  overflow-y: scroll;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.m-r-auto {
  margin-right: auto;
}

.m-l-auto {
  margin-left: auto;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-t-25 {
  margin-top: 25px;
}

.p-y-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-10 {
  padding: 10px;
}

.p-x-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.p-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-y-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.p-x-100 {
  padding-left: 100px;
  padding-right: 100px;
}
