@import 'layout.scss';
@import 'utilities.scss';

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-grey-bg {
  background-color: rgb(32, 32, 32);
}

header {
  position: sticky;
  top: 0;

  nav {
    gap: 30px;
    
    a {
      color: white;
      text-decoration: none;
    }

    img {
      height: 30px;
    } 
  }
}

main {
  position: relative;
  
  & > .grid {
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 50px 50px;
    height: calc(100vh - 188px);
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    visibility: hidden;
  }
}

//to refactor fade-before and fade-after into a common fade class + pseudo before/after properties
.fade-before {
  position: absolute;
  top: 0px;
  display: block;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(
    to top, 
    rgba(255, 255, 255, 0), 
    rgba(255, 255, 255, 0.9)
    100%);
}

//to refactor fade-before and fade-after into a common fade class + pseudo before/after properties
.fade-after {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(
    to bottom, 
    rgba(255, 255, 255, 0), 
    rgba(255, 255, 255, 0.9)
    100%);
}

footer {
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}
