.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.m-r-auto {
  margin-right: auto;
}

.m-l-auto {
  margin-left: auto;
}

.hidden {
  visibility: hidden;
}

header {
  nav {
    gap: 30px;

    img {
      height: 30px;
    } 
  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
