.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

header {
  img {
    height: 30px;
  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
