@import 'layout.scss';
@import 'utilities.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.dark-grey-bg {
  background-color: rgb(32, 32, 32);
}

header {
  position: sticky;
  top: 0;

  nav {
    gap: 30px;

    a {
      color: white;

      &:hover {
        color: red;
      }
    }

    img {
      height: 30px;
    }
  }
}

main {
  position: relative;

  .grid {
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 50px 50px;
    height: calc(100vh - 188px);

    .card {
      background-color: #151515;
      // position: relative;

      img {
        height: 150px;
        border-bottom: 5px solid red;
      }

      .card-header {
        height: 50px;

        .material-icons {
          color: red;
        }
      }

      button {
        border: 1px solid white;

        &:hover {
          background-color: red;
        }
      }

      // &:after {
      //   position: absolute;
      //   content: '';
      //   bottom: 0;
      //   right: 0;
      //   border-width: 10px 10px 0 0;
      //   border-style: solid;
      //   border-color: white;
      //   border-top-color: transparent;
      // }
    }
  }

  ::-webkit-scrollbar {
    visibility: hidden;
  }

  .fade {
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
  }

  .fade-before {
    top: 0;
    background-image:
      linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.9)
        100%
      );
  }

  .fade-after {
    bottom: 0;
    background-image:
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.9)
        100%
      );
  }
}

.popup {
  position: absolute;
  transform: translateX(-50%);
  top: 3%;
  left: 50%;
  width: 40%;
  height: 95%;
  border: 1px solid #000;
  padding: 2em;
  background-color: #fff;
  .closing-btn {
    display: flex;
    font-size: 3em;
    cursor: pointer;
  }
  img {
    width: 50%;
    margin: 0 auto;
  }
  h2 {
    margin: 0 auto;
  }
  .details {
    font-size: 2em;
  }
  .comments {
    h6 {
      font-size: 1.4em;
    }
  }
  form {
    input {
      padding: 0.5em;
    }

    textarea {
      padding: 0.3em;
    }
  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}